.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 350px;
  width: 50%;
  gap: 0.5rem;
  margin: 0 auto; 
}

.app-title {
  margin: 2rem 0 0 0; 
  font-size: 2.5rem;
  letter-spacing: 0.05em;
}
